<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Portfolio de Miriam Martinez : {{ page.title }} </title>

    
    <link rel="stylesheet" href="{{site.url}}/stylesheets/styles.css">
    
    <link rel="stylesheet" href="{{site.url}}/themes/default/default.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{site.url}}/themes/light/light.css" type="text/css" media="screen" />

    <link rel="stylesheet" href="{{site.url}}/nivo-slider.css" type="text/css" media="screen" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body class='{{ page.page_name }}'>
    <div class="wrapper">
      <header>
        <h1 id="title_portfolio">Miriam Martinez</h1>
        <h3><a href="{{site.url}}">Sobre mí</a></h3>
        
        {% for category in site.categories %}
        <h3><a href="categories/{{ category | first }}/index.html">{{ category | first }}</a></h3>
        {% endfor %}
      </header>
      
      <section>
        {{ content }}
      </section>
      
      <footer>
        <p><small>Miriam Martinez - 2013</small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="javascripts/jquery.nivo.slider.pack.js"></script>
    

    
  </body>
</html>

